html,
body,
#root {
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x : hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-size: cover;
  font-family: Poppins, sans-serif;
  position : relative;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}

.tooltip {
  z-index: 9999999;
}

.web3modal-modal-lightbox {
  z-index: 10000 !important;
}
